body {
    background-color: #fff;
    color: #282828;
}

a:link, a:active, a:visited {
    color: #ff4500;
}

a:hover {
    color: #282828;
}

header {
    margin-top: 2.5rem;
    background-color: #000;
    color: #fff;
    text-align: center;
}

header h1 {
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 0% 10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    vertical-align: middle;
    text-align: center;
}

.navbar {
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    position: fixed;
    top: 0rem;
    left: 0rem; 
    right: 0rem;
    width: 100%;
    z-index: 1;
}

a.navbar-brand {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
    margin: 0rem;
    padding: 0.5rem;
}

nav .socials {
    display: inline-block;
    padding: 0rem 0.5rem;
}

.navbar-toggler {
    color: #ff4500;
    background-color: transparent;
    display: inline-block;
    margin-top: 12.5px;
}

section {
    padding: 5rem 10%;
}

h2 {
    margin: 3rem 0rem 1.5em;
    padding-bottom: 1rem;
    border-bottom: 5px solid aquamarine;
}

h5 {
    font-size: 1.2rem;
    font-weight: 600;
}

p {
    padding: 0.2rem 0rem;
}

li {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card.code {
    width: 18rem;
    margin: 2rem 2rem 4rem;
    border-radius: 0.5rem;
    display: inline-flex;
}

.card.art {
    width: 18rem;
    /* margin: 2rem 2rem 4rem; */
    border-style: none;
    display: inline-flex;
}

.card.photography {
    margin: 2rem 0rem;
    border-style: none;
    display: inline-flex;
}

.card-img-top {
    border-radius: 0rem;
}

a.btn.btn-primary {
    background-color: #fff;
    border-color: #ff4500;
    color: #ff4500;
    margin-right: 0.4rem;
}

a.btn.btn-primary:hover {
    border-color: #282828;
    color: #282828;
}

blockquote {
    margin: 4rem 0rem;
}

blockquote .quote {
    font-style: italic;
}

img {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    vertical-align: middle;
    margin-bottom: 2rem;
}

img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

section .socials {
    display: inline-block;
    border: 0.05rem solid #e8e8e8;
    border-radius: 100px;
    padding: 1rem;
    margin: 1rem 0rem 3rem;
}
