<nav>
  <ul>
    {% for item in site.data.navigation %}
      <li>
        <a href="{{ item.link | relative_url }}" 
        {% case item.link %}
          {% when '/' %}
            {% if page.url == '/' %}class="active"{% endif %}
          {% when '/code' %}
            {% if page.url == '/code' %}class="active"{% endif %}
          {% when '/art' %}
            {% if page.url == '/art' %}class="active"{% endif %}
        {% endcase %}>
          {{ item.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
